<template>

<div class="search">

  <div id = "ToggleMenu">
    <a class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#sidelist" role="button" aria-controls="offcanvasExample" >
      <i class="bi bi-list"></i></a>
        </div>

<div class="search-container">
  <input type="text" placeholder="Search" class="searchbar"> 
    <h1>All Songs</h1>
      </div>
        </div> 

<table class="table table-responsive table-hover col-12">
  <thead>
    <tr>
      <th class="col-sm-1" style="width:1%"></th>
      <th class="col-sm-3" style="width:1%">Title</th>
      <th class="col-sm-3" style="width:1%">Artist</th>
      <th class="col-sm-3" style="width:1%">Album</th>
      <th class="col-sm-1" style="width:1%">Duration</th>
    </tr>
  </thead>

<!--------------------------------------------------------TABLE---------------------------------------------------------->

<tbody>
  <tr>
      <td><img src="../assets/icon1.png" id="icon"></td>
      <td>Better</td>
      <td>Khalid</td>
      <td>Suncity </td>
      <td>4:10</td>
    </tr>

  <tr>
      <td><img src="../assets/icon1.png" id="icon"></td>   
      <td>ILYSB</td>
      <td>LANY </td>
      <td>LANY </td>
      <td>3:29</td>
    </tr>

  <tr>
      <td><img src="../assets/icon1.png" id="icon"></td>
      <td>Venom</td>
      <td>Eminem</td>
      <td>Kamikaze</td>
      <td>4:55</td>
  </tr>

  <tr>
      <td><img src="../assets/icon1.png" id="icon"></td>
      <td>Leaves</td>
      <td>Ben&Ben</td>
      <td>Leaves</td>
      <td>4:59</td>
  </tr>

  <tr>
      <td><img src="../assets/icon1.png" id="icon"></td>
      <td>Yellow</td>
      <td>Coldplay</td>
      <td>Yellow</td>
      <td>4:32</td>
  </tr>
  
  </tbody>
</table>

<!--------------------------------------------------------BUTTONS---------------------------------------------------------->         

<div class="line">
  <img src="../assets/Line2.png" alt = "logo"> 
    </div>

<div class="btn1">
  <img src="../assets/Back.png" alt = "logo"> 
    </div>

<div class="btn2">
  <img src="../assets/Play.png" alt = "logo">      
    </div>

<div class="btn3">
  <img src="../assets/Next.png" alt = "logo">
    </div>

<div class="duration1" id="dur1">
  <p>1:47</p>
    </div>

<div class="duration2" id="dur2">
  <p>3:29</p>
    </div>

<div class="Song" id="songname">
  <p>ILYSB - Lany</p>
    </div>

 <!------------------------------------------------------TOGGLE------------------------------------------------------------------>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidelist" aria-labelledby="offcanvasExampleLabel">

  <div class="side-list">
    <img src = "../assets/Logo2.png" alt = "logo">

      <ul>
        <li><a href="#" class="button1" data-bs-toggle="modal" data-bs-target="#UploadModal">Upload Music</a></li>
          </ul>

      <ul>
        <li><a href="#">All Songs</a></li>
          </ul>
        
      <ul>
        <li><a href="#" class="button1" data-bs-toggle="modal" data-bs-target="#CreateModal">Create Playlist</a></li></ul>
          <ul>

      <li><a href="#">Playlist 1</a></li>
      <li><a href="#">Playlist 2</a></li>
      <li><a href="#">Playlist 3</a></li>
      <li><a href="#">Playlist 4</a></li>

    </ul>
  </div>
</div>

</template>

<!--------------------------------------------------------SCRIPT---------------------------------------------------------->

<script>
export default {
  name: 'maindis',
  props: {
    
  }
}
</script>

<!--------------------------------------------------------STYLE---------------------------------------------------------->
<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.search{
  margin-top: 20px;
  height: 40px;
  width: 250px;
  font-size: 25px;
  font-family: 'rubik';
  border-radius: 5px;
}

.searchbar{
  margin-left: 0px;
  margin-top: 0px;
  height: 30px;
  width: 250px;
  font-size: 20px;
  font-family: 'rubik';
  border-radius: 5px;
}

h1{
  margin-top: 50px;
  margin-left: -110px;
  font-size: 30px;
}
.table{
  position: relative;
  margin-top: 100px;
  border: 2px solid #8d8d8d;
}

.table thead th {
  background: #0F0F10;
  font-family: 'Rubik';
  color: #cccccc;
  font-size: 23px; 
  height: 20px; 
}

.table tbody td{
  background: #2C2D33;
  font-family: 'Rubik';
  color: #cccccc;
  cursor: pointer;
  font-size: 18px; 
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #74D150;
}

.line img{
  position: absolute;
  width: 650px;
  height: 50px;
  top: 500px;
  left: 30%;
}

.btn1 img{
  position: absolute;
  width: 35px;
  height: 25px;
  top: 570px;
  left: 43%;
}
 
.btn2 img{
  position: absolute;
  width: 52px;
  height: 45px;
  top: 560px;
  left: 52.5%;
}

.btn3 img{
  position: absolute;
  width: 35px;
  height: 25px;
  top: 570px;
  left: 63%;
}

#dur1 p{
  position: absolute;
  font-family: 'Rubik';
  font-size: 20px;
  color: #AEAEAE;
  margin-left: 120px;
  margin-top: 58px;
}

#dur2 p{
  position: absolute;
  font-family: 'Rubik';
  font-size: 20px;
  color: #AEAEAE;
  margin-left: 830px;
  margin-top: 58px;
}

#songname{
  position: absolute;
  font-family: 'Rubik';
  font-size: 25px;
  color: #62af43;
  margin-left: 430px;
  margin-top: 10px;
}

.btn1 :hover{
  background-color: #62af43;
  border-radius: 4px;
  cursor: pointer;
}

.btn2 :hover{
  background-color: #62af43;
  border-radius: 4px;
  cursor: pointer;
}

.btn3 :hover{
  background-color: #62af43;
  border-radius: 4px;
  cursor: pointer;
}

#icon{
  width: 20px;
  height: 20px;
}

/*--------------------------------------------------------MOBILE DISPLAY1----------------------------------------------------------*/

@media only screen and (min-width: 700px) {
#ToggleMenu{
  display: none;
}

#sidelist{
  display: none;
}
}

/*--------------------------------------------------------MOBILE DISPLAY2----------------------------------------------------------*/

@media only screen and (max-width: 700px){
.line img{
  position: absolute;
  width: 320px;
  height: 40px;
  top: 490px;
  left: 75px;
}

.table{
  margin-top: 170px;
}

.line img{
  position: absolute;
  width: 350px;
  height: 40px;
  top: 460px;
  left: 14%;
}

.btn1 img{
  position: absolute;
  width: 35px;
  height: 25px;
  top: 510px;
  left: 28%;
}
 
.btn2 img{
  position: absolute;
  width: 52px;
  height: 45px;
  top: 500px;
  left: 43.5%;
}

.btn3 img{
  position: absolute;
  width: 35px;
  height: 25px;
  top: 510px;
  left: 62%;
}

#dur1 p{
  position: absolute;
  font-family: 'Rubik';
  font-size: 20px;
  color: #AEAEAE;
  margin-left:2px;
  margin-top: 37px;
}

#dur2 p{
  position: absolute;
  font-family: 'Rubik';
  font-size: 20px;
  color: #AEAEAE;
  margin-left: 430px;
  margin-top: 40px;
}

#songname{
  position: absolute;
  font-family: 'Rubik';
  font-size: 25px;
  color: #62af43;
  margin-left: 150px;
  margin-top: 0px;
}

h1{
margin-top: 50px;
font-size: 30px;
}

.table{
  margin-top: 90px;
}

.table thead th {
  background: #0F0F10;
  font-family: 'Rubik';
  color: #cccccc;
  font-size: 23px; 
  height: 20px; 
}

.table tbody td{
  background: #2C2D33;
  font-family: 'Rubik';
  color: #cccccc;
  cursor: pointer;
  font-size: 16px; 
}

.searchbar{
  margin-left: 70px;
  margin-top: 0px;
}

#ToggleMenu{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#sidelist{
  width: 200px;
}

.side-list{
  width: 200px;
  height: 100%;
  background: #0F0F10;
  padding: 120px 0px;
  transition: all 0.9s;
}

.side-list img{
  position: absolute;
  background-repeat: no-repeat;
  width: 150px;
	height: 60px; 
  top: 4%; 
  margin-left: -75px;
}

.side-list ul li{
  padding: 10px;
  list-style-type:none;
  text-align: left;
  margin-left: -19px;
}    

.side-list ul li a{
  display: block;
  text-decoration: none;   
  font-size: 17px;
  font-family: 'Rubik';
  color: #AEAEAE;
  text-decoration: none; 
  margin-left: 0px;  
}

.side-list ul li a .fas{
  width: 0px; 
}

.side-list ul li:hover a{
  color: #74D150;
}
}
</style>
