<template>
<div class = "logo">
  <img src = "../assets/Logo2.png" alt = "logo">
    <div class="row">
      <div class="col-md-12 services-section">
        <div class="btn-group-vertical">

        
        <ul><li><a href="#" class="button1" data-bs-toggle="modal" data-bs-target="#UploadModal"><strong>Upload Music</strong></a></li></ul>
        <ul><li><a><button type="button" class="btn btn-lg" id="buttons"><strong>All Songs</strong></button></a></li></ul>
        <ul><li><a href="#" class="button1" data-bs-toggle="modal" data-bs-target="#CreateModal"><strong>Create Playlist</strong></a></li></ul>
        <ul>
        <li><a><button type="button" class="btn " id="buttons">Playlist 1</button></a>
        <a><button type="button" class="btn" id="buttons">Playlist 2</button></a>
        <a><button type="button" class="btn" id="buttons">Playlist 3</button></a>
        <a><button type="button" class="btn" id="buttons">Playlist 4</button></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>  

<!----------------------------------------------------MODAL1--------------------------------------------------->

<div class="modal fade" id="UploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
          </div>

<div class="modal-body"> 
  <div class="DragFiles p-4 text-center">
    <p>Drag and Drop files here</p>
      </div> 
        </div>
      
<div class="modal-footer">
  <button type="button" class="btn btn-info">Upload</button>
    <button type="button" class="btn btn-danger" id="cncl" data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<!----------------------------------------------------MODAL2--------------------------------------------------->

<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
          </div>

<div class="modal-body p-4">
  <input type="text" placeholder="" class="form-control">
    </div>
        
    <div class="modal-footer">
      <button type="button" class="btn btn-info">Create</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
      
      </div>
    </div>
  </div>
</div>

</template>

<!--------------------------------------------------------SCRIPT---------------------------------------------------------->

<script>
export default {
  name: 'player',
  props: {
    msg: String
  }
}
</script>

<!--------------------------------------------------------STYLE---------------------------------------------------------->

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

#buttons{
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Rubik';
  margin-left: 10px;
  color: #cccccc;
  letter-spacing: 0.5px;
  margin-left: 5px; 
  margin-top: 10px; 
}

#buttons:hover{
  color: #74D150;
}

.button1{
  font-size: 20px;
  font-family: 'Rubik';
  margin-left: 20px;
  color: #cccccc;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.button1:hover{
  color: #74D150;
}

.row{
  margin-top: 30px;
}

#UploadModal .modal-content{
    border:3px solid #cccccc;
}

#UploadModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;
    font-size: 25px;
}

#UploadModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#UploadModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    font-size: 22px;
    text-align: center;
    color: #e4e4e4;
    height: 100px;
}

#UploadModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}

#CreateModal .modal-content{
    border:3px solid #cccccc;
}

#CreateModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;  
    font-size: 25px;
}

#CreateModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#CreateModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    text-align: center;
    color: #e4e4e4;
}

#CreateModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}

#cncl .btn{
    color: rgb(128, 0, 0); 
    opacity: 1;
}

/*----------------------------------------------------MOBILE DISPLAY1---------------------------------------------------*/

@media only screen and (max-width: 1000px){
#UploadModal{
    width: 400px;
    margin-left: 40px;
}

#UploadModal .modal-content{
    border:2px solid #cccccc;
}

#UploadModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;
    font-size: 20px;
}

#UploadModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#UploadModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    font-size: 18px;
    text-align: center;
    color: #e4e4e4;
    height: 100px;
}

#UploadModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}

#CreateModal{
    width: 400px;
    margin-left: 40px;
}
#CreateModal .modal-content{
    border:2px solid #cccccc;
}

#CreateModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;  
    font-size: 20px;
}

#CreateModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#CreateModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    text-align: center;
    color: #e4e4e4;
}

#CreateModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}
}
</style>
