<template>

<div class = "app-container" id="display">  
  <nav class ="navbar navbar-expand-lg navbar-light" id="menubar">
      <div class = "container-fluid" id="main1">
          
          <player /> 

          </div>
        </nav>

      <div class = "container-fluid" id="display1">  
    <maindis />
  </div>
</div>

</template>

<script>
import player from './components/player.vue'
import maindis from './components/maindis.vue'

export default {
  name: 'App',
  components: {
    player,
    maindis

  }
}

</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f7f7f7;
  width: 100%;
  height: 100vh;
  background-color: #1E1F24;
  overflow: hidden;
}

#menubar{
  background-color: #0F0F10;
  height: 100vh;
  width: 280px;
  display:flex;
  align-items: flex-start;
  text-align: left;
}

.logo img{
  width: 180px;
  height: 80px;
  margin-left: 15px;
  margin-top: 15px;
}

#display {
  display:flex;
}

#display > *:nth-child(1){
  flex:1 1 30;
}

#display > *:nth-child(2){
  flex:1 1 70;
}

@media only screen and (max-width: 700px){
#menubar{
  margin-left: -280px;
}

.menu1{
  height:800px;
}
}
</style>
