@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik';
}

/*----------------------------------------------------------MENU LIST---------------------------------------------------------------*/

.wrapper{
    background: #1E1F24;
    position: relative;
    overflow: hidden;
    display: flex;
}

.wrapper .menu-list{
    background: #0F0F10;
    padding: 120px 0px;
    position: fixed;
    width: 200px;
    height: 100%;   
}

.wrapper .menu-list img{
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 24px;
    width: 150px;
	height: 60px; 
    top: 4%; 
    
}

.wrapper .menu-list ul li{
    padding: 15px;
}    

.wrapper .menu-list ul li a{
    font-family: 'Rubik';
    font-size: 17px;
    text-decoration: none;
    color: #AEAEAE;
    display: block;
    text-decoration: none;  
}

.wrapper .menu-list ul li a .fas{
    width: 0px; 
}

.wrapper .menu-list ul li:hover a{
    color: #74D150;
}

/*----------------------------------------------------------MAIN CONTENT---------------------------------------------------------------*/

.wrapper .main_content{
    background: #1E1F24; 
    margin-left: 200px;
    width: 100%;
    
    
}

.wrapper .main_content .header{
    background: #0F0F10;
    padding-left: 20px;
    padding-top: 40px;
    color: #717171;
    height: 120px; 
}

.wrapper .main_content .music{
    line-height: 25px;
    color: #717171;
    margin: 20px;
    height: 531px; 
}

.wrapper .main_content .music div{
    margin-bottom: 20px;
}

/*----------------------------------------------------------SEARCH---------------------------------------------------------------*/

.header-container {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 4px;
    width: 250px;
    height: 30px;  
}

.search {
    border: .5px solid #333333;
    background: #e0e0e0;
    vertical-align: middle;
    font-family: 'Rubik';
    font-weight: 500; 
    font-size: 20px;
    color: #0F0F10;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    padding: 0px 5px;  
}

.search:focus {
    outline: none;
}

/*----------------------------------------------------------TABLE---------------------------------------------------------------*/

#content{
    transition: all 0.3s;
    min-height: 100vh;
    margin-top: 200px;
    padding: 20px;
	width: 100%;   
}

h1 {
    font-family: 'Rubik';
    padding-bottom: 10px;
    padding-top: 30px;
    margin-left: 10px;
    color: #e4e4e4;
}

.table {
    border-bottom: 1px solid #333333;
    border: 2px solid #333333;
    margin-left: 0px;
}

.table thead th {
    background: #2C2D33;
    font-family: 'Rubik';
    color: #AEAEAE;
    font-size: 16px;  
}

.table tbody td{
    background: #1E1F24;
    font-family: 'Rubik';
    color: #AEAEAE;
    cursor: pointer;
    font-size: 14px; 
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #74D150;
}

/*----------------------------------------------------------BUTTONS---------------------------------------------------------------*/

.line img{
    position: absolute;
    width: 550px;
    height: 55px;
    top: 520px;
    left: 430px;
}

.btn1 img{
    position: absolute;
    height: 30px;
    width: 35px;
    left: 600px;
    top: 575px;  
}
 
.btn2 img{
    position: absolute;
    height: 40px;
    width: 45px;
    left: 695px;
    top: 570px;
}

.btn3 img{
    position: absolute;
    height: 30px;
    width: 35px;
    left: 800px;
    top: 575px; 
}

.btn1 :hover{
    background-color: #427c2b;
    border-radius: 4px;
    cursor: pointer;
}

.btn2 :hover{
    background-color: #427c2b;
    border-radius: 4px;
    cursor: pointer;
}

.btn3 :hover{
    background-color: #427c2b;
    border-radius: 4px;
    cursor: pointer;
}

.dur1 p{
    font-family: 'Rubik';
    position: absolute;
    margin-left: 160px;
    margin-top: 23px;
    font-size: 20px;
    color: #AEAEAE;    
}

.dur2 p{
    position: absolute;
    font-family: 'Rubik';
    margin-left: 780px;
    margin-top: 23px;
    font-size: 20px;
    color: #AEAEAE;
   
}

/*----------------------------------------------------------MODALS---------------------------------------------------------------*/

#UploadModal .modal-content{
    border-radius: 150px;
}

#UploadModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;
    font-size: 20px;
}

#UploadModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#UploadModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    text-align: center;
    color: #e4e4e4;
    height: 100px;
}

#UploadModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}

#CreateModal .modal-content{
    border-radius: 150px;
}

#CreateModal .modal-title{
    font-family: 'Rubik';
    color: #e4e4e4;  
    font-size: 20px;
}

#CreateModal .modal-header{
    background: #2C2D33;    
    border-bottom: 0 none;
}

#CreateModal .modal-body{
    background: #1E1F24;
    font-family: 'Rubik';
    text-align: center;
    color: #e4e4e4;
}

#CreateModal .modal-footer{
    background: #2C2D33; 
    border-top: 0 none;
}

#cncl .btn{
    color: rgb(128, 0, 0); 
    opacity: 1;
}

/*--------------------------------------------------------MOBILE DISPLAY----------------------------------------------------------*/
@media only screen and (min-width: 700px) {
#ToggleMenu{
    display: none;
}

#sidelist{
    display: none;
}
}

/*--------------------------------------------------------MOBILE DISPLAY 2----------------------------------------------------------*/

@media only screen and (max-width: 700px){
#ToggleMenu{
    position: absolute;
    margin-left: -170px;
    margin-top: 41px;
}

.wrapper .menu-list{
    margin-left: -250px;
}

.wrapper .menu-list{
    margin-left: 0;
    display: none;
}     
    
h1{
    margin-left: -150px;
}
  
.table{
    margin-left: -150px;
}
  
.line img{
    position: absolute;
    width: 320px;
    height: 40px;
    top: 490px;
    left: 75px;
}

.btn1 img{
    position: absolute;
    width: 30px;
    height: 25px;
    top: 540px;
    left: 135px;
}
 
.btn2 img{
    position: absolute;
    width: 40px;
    height: 37px;
    top: 540px;
    left: 212px;
}

.btn3 img{
    position: absolute;
    width: 30px;
    height: 25px;
    top: 540px;
    left: 295px;
}

.wrapper .main_content .header {
    margin-left: -200px;   

}
     
.header-container {
     margin-left: 70px;
     margin-top: 5px;
}

.dur1 p{
    position: absolute;
    font-family: 'Rubik';
    font-size: 20px;
    color: #AEAEAE;
    margin-left: -200px;
    margin-top: -2px;
}

.dur2 p{
    position: absolute;
    font-family: 'Rubik';
    font-size: 20px;
    color: #AEAEAE;
    margin-left: 195px;
    margin-top: -2px;
}

#sidelist{
    width: 200px;
}

.side-list{
    width: 200px;
    height: 100%;
    background: #0F0F10;
    padding: 120px 0px;
    transition: all 0.9s;
}

.side-list img{
    position: absolute;
    background-repeat: no-repeat;
    width: 150px;
	height: 60px; 
    top: 4%; 
    margin-left: 24px;
}

.side-list ul li{
    padding: 15px;
}    

.side-list ul li a{
    display: block;
    text-decoration: none;   
    font-size: 17px;
    font-family: 'Rubik';
    color: #AEAEAE;
    text-decoration: none;   
}

.side-list ul li a .fas{
    width: 0px; 
}

.side-list ul li:hover a{
    color: #74D150;
}
 
#UploadModal{
    width: 400px;
    margin-left: 40px;
}

#CreateModal{
    width: 400px;
    margin-left: 40px;
}

}