@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    font-family: 'Bree Serif';
}

* {
    box-sizing: border-box;
    margin:0;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;   
}

.title-style{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px; 
}

.title-style h1{
    display: inline-block;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFf000;;
    margin: 0 0 10px;
    position: relative;
    text-shadow: 2px 3px #0c0c17;
    font-family: 'Paytone One';
    letter-spacing: 3px;
    cursor: default;
}

.title-style h1::before{
    content: '';
    left: 0;
    position: absolute;
    cursor: default;


    background-color: #a77554;
    bottom: 0px;
}

.text-style{
    text-align: center!important;
}

.text-left{
    text-align: left!important;
}

.text-right{
    text-align: right!important;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

header{
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 10px 15px;
    z-index: 10;
    background-color: #006F8A;
}

header .row{
    justify-content: space-between;
    align-items: center;  
}

@keyframes fixHeader{
    0%{
        transform: translateY(-100%);opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
}

header .organization a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color: #E1F5FC;
    position: relative;
    font-family: 'Acme';
    letter-spacing: .5px;
    left: -5%;
}

header.fixed .organization a{
    color: black;
}

header .organization img{
	float: left;
	width: 50px;
	height: 50px; 
    top: 23%; 
    left: 3%;
    position: absolute;
}

header .navigation-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navigation-bar ul li{
    display: inline-block;
    margin-left: 60px;
}
header .navigation-bar ul li a{
    font-size: 20px;
    line-height: 72px;
    color: #E1F5FC;
    display: block;
    font-weight: 600;
    position: relative;
    left: 80%;
    letter-spacing: 1px;
    text-decoration: none;  
}

header .fixed .navigation-bar ul li a{
    left: 0;
    color: white;
    text-decoration: none;
}

header .navigation-bar ul li a::before{
    content: '';
    height: 3px;
    text-decoration: none;
    background-color: #E1F5FC;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header.fixed .navigation-bar ul li a::before{
    background-color: white;
}

header .navigation-bar ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navigation-bar ul li a.tabs::before{
    width: 100%;
    left: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

.main{
    min-height: 100vh;
    padding: 15px;
    background-image: url("https://images6.alphacoders.com/912/thumb-1920-912042.jpg");
    background-position: center;
    background-size: cover;
}

.main .display{
    min-height: 100vh;
}

.main .home{
    max-width: 100%;
    flex: 0 0 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main .home .design{
    max-width: 75%;
    flex: 0 0 75%;
    padding-left: 35px;
    margin-top: 50px;
}

.main .home .design h1{
    position: relative;
    top: -10px;
    color: #FFf000;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-shadow: 2px 3px #0c0c17;
    letter-spacing: 8px;
    font-family: 'Paytone One';
    cursor: default;
}

.main .home .design h2{
    margin: 0;
    padding: 0;
    font-family: 'Francois One';
    text-indent: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px #0c0c17;
    letter-spacing: 1.6px;
    cursor: default;
}

form.srchbar input[type=text]{
    text-align: left;
    padding: 100px;
    font-size:17px;
    border: 1px solid #f8f8f8;
    float: left;
    width: 100%;
    background: #f8f8f8; 
}

input {
    margin: auto;
    width: 25%;
    padding: 8px 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 7%;
  }

/*---------------------------------------------------------------------------------------------------------------------------------*/

.trends1{
    background-color: #63A8C7;
    padding: 100px 0px 70px;
    padding-bottom: 50%;
    padding-top: -10%;
    background-image: url("https://www.pptgrounds.com/wp-content/uploads/2018/04/Business-cube-backgrounds.jpg");
    background-size: 100% 96.5%;
    background-position: 100% 100%;
    min-height: 90%;
    background-repeat: no-repeat;
}
.trends1 .trend-list .infos .inside-text{
    position: relative;
}
.trends1 .button{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin: 0;
    position: absolute;
    top: 220%;
    left: 40%;

}
.trends1 .button a{
    border-radius:  30px;
    font-size: 37px;
    font-weight: 100;
    font-family: 'Acme';
    color: #FFFFFF;
    border: 4px solid rgb(47, 241, 22);
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s ease;
    background-color: #1d6d88;
    position: relative;
    letter-spacing: 1px;
}
.trends1 .button a:hover{
    background-color:rgb(141, 2, 2);
    color: white;
}

.trends1 .trend-list .infos img{
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    border-radius: 25px;
    outline-style: solid;
    outline-color:#C62C24;
    top: 0px;
}
.trends1 .trend-list .infos .inside-text h2{
    font-family: 'Merriweather Sans';
    position: absolute;
    bottom: 150;
    font-size: 25px;
    color: #e5ecf8;
    font-weight: 600;
    left: 20%;
}

.trends1 .trend-list .infos .img1{
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    border-radius: 25px;
    outline-style: solid;
    outline-color:#C62C24;
    top: 200px;
}
.trends1 .trend-list .infos .inside-text h3{
    font-family: 'Merriweather Sans';
    position: absolute;
    bottom: 150;
    font-size: 25px;
    color: #e5ecf8;
    font-weight: 600;
    left: 20%;
    top: 200px;
}

.trends1 .trend-list .infos .img2{
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    border-radius: 25px;
    outline-style: solid;
    outline-color:#C62C24;
    top: 400px;
}

.trends1 .trend-list .infos .inside-text h4{
    font-family: 'Merriweather Sans';
    position: absolute;
    bottom: 150;
    font-size: 25px;
    color: #e5ecf8;
    font-weight: 600;
    left: 20%;
    top: 400px;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

.topics{
    background-color: #63A8C7;
    padding: 100px 1px;
    background-image: url("https://www.pptgrounds.com/wp-content/uploads/2018/04/Business-cube-backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: 100% 98%;
    background-position: 100% 100%;
}

.topics .topic-list{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topics .topic-list .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.topics .topic-list .item .inside-text2{
    position: relative;
    font-family: 'Acme';
    letter-spacing: 2px;
}

.topics .topic-list .item img{
    width: 100%;
    display: block;
    border-radius: 25px;
}

.topics .topic-list .item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: all .5s ease;
    border-radius: 25px;
}

.topics .topic-list .item:hover .overlay{
    opacity: 3;
    cursor: pointer;
}

.topics .topic-list .item .overlay h4{
    margin-top: 15px;
    font-size: 37px;
    color: #e5ecf8;
    font-weight: 600;
}
.topics .topic-list .item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

.topics .topic-list .item .overlay .bi{
    margin: top 0;
    top: 200%;
    height: 50px;
    width: 50px;
    color: #e5ecf8;
    background-color: #63A8C7;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes galleryText{
    0%{
        transform: translate(20px);opacity:0;
    }
    100%{
        transform: translate(0);opacity:1;
    }
}


/*---------------------------------------------------------------------------------------------------------------------------------*/

.authors{
    background-color: #63A8C7;
    padding: 100px 0px;
    background-image: url("https://www.pptgrounds.com/wp-content/uploads/2018/04/Business-cube-backgrounds.jpg");
    background-repeat: no-repeat;
    background-size: 100% 93%;
    min-height: 100%;
    background-position: center;
}

.authors .author-desc{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.authors .author-desc .box{
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px);
}

.authors .author-desc .box .img img{
    width: 100%;
    display: block;

    transition: all .5s ease;
}

.authors .author-desc .box:hover .img img{
    transform: scale(1.1);
    cursor: pointer;
}

.authors .author-desc .box .info span{
    position: relative;
    text-align: center;
    top: 0px;
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #E2CD22;
    display: inline-block;
    padding: 10px 105px;
}

.authors .author-desc .box h2{
    position: relative;
    font-size: 30px;
    font-family: 'Acme';
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 1px 18px;
}

.authors .author-desc .box h5{
    position: relative;
    font-size: 30px;
    font-family: 'Acme';
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 1px 33px;
}

.authors .author-desc .box h6{
    position: relative;
    font-size: 30px;
    font-family: 'Acme';
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 1px 62px; 
}
        
.authors .author-desc .box p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #dbdbdb;
    margin: 0 0 10px;
    padding: 1px 20px;
    font-family: 'Rubik';
}

.authors .author-desc .box p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #dbdbdb;
    margin: 0 0 10px;
    padding: 1px 45px;
;
}

.authors .author-desc .box p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #dbdbdb;
    margin: 0 0 10px;
    padding: 1px 63px;
    font-family: 'Rubik';
}


/*---------------------------------------------------------------------------------------------------------------------------------*/

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("https://media.istockphoto.com/vectors/black-background-55-vector-id1202855261?k=20&m=1202855261&s=612x612&w=0&h=raXWH0ZUDlfSGch3iq00HggSgMGDsq25XuHB0bZs2Ac=");
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100%;

}
footer .foot a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color: #c0e6eb;
    position: relative;
    font-family: 'Acme';
    letter-spacing: .5px;
    left: 39.5%;
    text-align: center;
}

footer .social .pic{
    position: relative;
    height: 40px;
    padding-right: 20px;
    padding-top: -20px;
    cursor: pointer;

}

footer .social{
    flex: 0 0 100%;
    max-width: 500%;
    text-align: center;
    padding-top: 10px;
}

.copyright{
    background-color: #232426;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Francois One';
    letter-spacing: 1px;
}